{% extends "base_generic.html" %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
      <input class="btn btn-primary" type="submit" value="{% if author %}Update author{% else %}Add author{% endif %}">
      {% if author %}
      <a class="btn btn-secondary" href="{% url 'author-detail' author.id %}">Cancel</a>
      {% else %}
      <a class="btn btn-secondary" href="{% url 'authors' %}">Cancel</a>
      {% endif %}
  </form>
{% endblock %}