{% extends 'base_generic.html' %}

{% block title %}
<title>{% if book %}Update Book - {{book}}{% else %}Add Book{% endif %}</title>
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input class="btn btn-primary" type="submit" value="{% if book %}Update book{% else %}Add book{% endif %}">
  <a class="btn btn-secondary" href="{% if book %}{% url 'book-detail' book.id %}{% else %}{% url 'books' %}{% endif %}">Cancel</a>
</form>
{% endblock %}
