{% extends "base_generic.html" %}

{% block title %}
<title>Update book - {% if book %}{{book}}{% else %}Add new book{% endif %}</title>
{% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input class="btn btn-primary" type="submit" value="Add Book"/>
  {% if book %}
  <a class="btn btn-secondary" href="{% url 'book-detail' book.id %}">Cancel</a>
  {% else %}
  <a class="btn btn-secondary" href="{% url 'index' %}">Cancel</a>
  {% endif %}
</form>
{% endblock %}
